body{
	background: #360033;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
 
.jumbotron{
	padding-bottom: 60px;
}
.jumbotron p{
	font-size: 35px;
}
h1{
	font-family: 'Mr Bedfort', cursive;
	font-size: 60px;
	color: white;

}

.intro{
	font-family: 'Mrs Saint Delafield', cursive;
	font-size: 80px;
}


.quote-text{
	font-family: 'Niconne', cursive;
	font-size: 30px;
}

span{
	font-family: 'Sevillana', cursive;
	font-size: 20px;
}
.btn{
	margin-left: 10px;
	color: black;
	background: rgba(0,0,0,0.1);
	border-radius: 15px;
	border-width: 0;
}
button{
	margin-bottom: 15px;
}
a{
	color:white;
}
.btn:hover{
	background:rgba(2,20,200,0.1);
	color:black;
}
.btn:focus{
	background: rgba(0,0,0,0.1);

}
#change{
	margin-bottom: 20px;
}
#twitter>a, #tumblr>a{
	color: darkcyan;
}
.btn-danger:active{
	background:lavender;
	color: black;
}
#newquote:focus{
	background: rgba(0,0,0,0.1);
	color: black;
}